<div class ="container">
 <div class="row">
  <div class="col-xs-3">
<%= render 'users/userinfo', {user: current_user, book: @new} %>
</div>
<div class = "col-xs-9">
<h2>Book detail</h2>
<table class="table">
 <tr>
   <td>
    <%= link_to (@book.user) do %>
    <%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
   <br><%= @book.user.name %></br>
   <% end %>
   </td>
   <td>
    <%= link_to @book.title , @book, class: "glyphicon glyphicon-default " %>
   </td>
   <td><%= @book.body %></td>
  <% if @book.user == current_user %>
   <td>
    <%= link_to 'Edit', edit_book_path , class: "btn-sm btn-success"%></td>
    <td>
     <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？'}, class: "btn-sm btn-danger" %>
    <% end %>
    </td>
  </tr>
</table>
</div>
</div>
</div>